NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
SUPABASE_AUTH_EXTERNAL_LINKEDIN_OIDC_SECRET=
